<div class="row">
    <div id="hd-wrap" class=" wrapper">

        <div class="row_title">
            product details
        </div>
        <div id="sec-hd-preview">
            <div class="row">
                <div class="col-lg-6">
                    <!--Carousel-->
                    <div id="carousel-example-captions" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-captions" data-slide-to="1" class></li>
                            <li data-target="#carousel-example-captions" data-slide-to="2" class></li>
                        </ol>
                        <div class="carousl-inner">
                            <div class="item active">
                                <div class="img_holder">
                                    <img src="../images/is4.jpg"/>

                                </div>

                                <div class="carousel-caption">
                                    <h3>Test1</h3>
                                    <p>Test article</p>
                                </div>
                            </div>
                            <div class="item ">
                                <div class="img_holder">
                                    <img src="../images/is5.jpg"/>

                                </div>
                                <div class="carousel-caption">
                                    <h3>Test1</h3>
                                    <p>Test article</p>
                                </div>
                            </div>
                            <div class="item ">

                                <div class="carousel-caption">
                                    <h3>Test1</h3>
                                    <p>Test article</p>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
                            <i class="fa fa-prev icon-prev"></i>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
                            <i class="fa fa-next icon-next"></i>
                        </a>
                    </div>
                    <!--End of Carousel-->
                </div>
                <div class="col-lg-6">
                    <div class="font_24 blue1 font_bold">
                        NEC 55" LED-Backlit Ultra-Narrow Professional-Grade
                    </div>
                    <div class="font_light grey1">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged.
                    </div>

                    <div class="sec-option-set pad20top">
                        <div class="font_bold grey3">PRICE</div>
                        <div class="font_24 font_bold">
                            <a class=" box_price">
                                <sup>$</sup>500
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="sec-hd-specs">
            <div class="dis_table">
                <div class="dis_cell">
                    <div class="head_specs">
                        SPEcifications
                    </div>
                    <div class="spec_table">
                        <div class="spec_cell">
                            <ul class="spec_list">
                                <li>
                                    <div class="font_12 font_bold grey3 uppercase">
                                        SCREEN
                                    </div>
                                    <a class=" font_light grey2" href="">
                                        10.1
                                    </a>
                                </li>
                                <li>
                                    <div class="font_12 font_bold grey3 uppercase">
                                        brightness
                                    </div>
                                    <a class=" font_light grey2" href="">
                                        400 units
                                    </a>
                                </li>
                                <li>
                                    <div class="font_12 font_bold grey3 uppercase">
                                        bezel size
                                    </div>
                                    <a class=" font_light grey2" href="">
                                        14.1(top), 14.1(side), 14.1(bot)
                                    </a>
                                </li>
                                <li>
                                    <div class="font_12 font_bold grey3 uppercase">
                                        display technology
                                    </div>
                                    <a class=" font_light grey2" href="">
                                        LED
                                    </a>
                                </li>
                                <li>
                                    <div class="font_12 font_bold grey3 uppercase">
                                        weight
                                    </div>
                                    <a class=" font_light grey2" href="">
                                        0.7 kg
                                    </a>
                                </li>
                                <li>
                                    <div class="font_12 font_bold grey3 uppercase">
                                        usage
                                    </div>
                                    <a class=" font_light grey2" href="">
                                        16/7
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="spec_cell">
                            <ul class="spec_list">
                                <li>
                                    <div class="font_12 font_bold grey3 uppercase">
                                        vesa
                                    </div>
                                    <a class=" font_light grey2" href="">
                                        75 X 75
                                    </a>
                                </li>
                                <li>
                                    <div class="font_12 font_bold grey3 uppercase">
                                        brightness
                                    </div>
                                    <a class=" font_light grey2" href="">
                                        244.3 x 195.7 x 9.8 mm
                                    </a>
                                </li>
                                <li>
                                    <div class="font_12 font_bold grey3 uppercase">
                                        orientation
                                    </div>
                                    <a class=" font_light grey2" href="">
                                        portrait/landscape
                                    </a>
                                </li>
                                <li>
                                    <div class="font_12 font_bold grey3 uppercase">
                                        display interface
                                    </div>
                                    <a class=" font_light grey2" href="">
                                        HDMI
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div><!--end of specification cell-->

                <div class="dis_cell">
                    <div class="head_specs">
                        this goes well with
                    </div>
                    <div class="goes-well-cat font_bold grey2 uppercase">
                        <img src="../images/icons/hardware.png" style="max-height: 30px;"/> hardware
                    </div>
                    <ul class="spec_list">
                        <li>
                            <div class="font_12 font_bold grey3 uppercase">
                                bracket
                            </div>
                            <a class=" font_light grey2" href="">
                                <div class="icon_table">
                                    <div class="icon_cell">
                                        Commercial Grade Wall Mount
                                    </div>
                                    <div class="icon_cell">
                                        <i class="pull-right ti ti-angle-right"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="font_12 font_bold grey3 uppercase">
                                media player
                            </div>
                            <a class=" font_light grey2" href="">
                                <div class="icon_table">
                                    <div class="icon_cell">
                                        DH170-i3
                                    </div>
                                    <div class="icon_cell">
                                        <i class="pull-right ti ti-angle-right"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="font_12 font_bold grey3 uppercase">
                                router
                            </div>
                            <a class=" font_light grey2" href="">
                                <div class="icon_table">
                                    <div class="icon_cell">
                                        NTC - 6200 - 02 NEtcomm
                                    </div>
                                    <div class="icon_cell">
                                        <i class="pull-right ti ti-angle-right"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="goes-well-cat font_bold grey2 uppercase">
                        <img src="../images/icons/software.png" style="max-height: 30px;"/> software
                    </div>
                    <ul class="spec_list">
                        <li>
                            <div class="font_12 font_bold grey3 uppercase">
                                cms
                            </div>
                            <a class=" font_light grey2" href="">
                                <div class="icon_table">
                                    <div class="icon_cell">
                                        Engagis Eze Impress Enhanced CMS
                                    </div>
                                    <div class="icon_cell">
                                        <i class="pull-right ti ti-angle-right"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div><!--end of this goes with cell-->
                <div class="dis_cell">
                    <div class="head_specs">
                        included in these packages solutions
                    </div>
                    <ul class="spec_list">
                        <li>
                            <a class=" font_light grey2" href="">
                                <div class="icon_table">
                                    <div class="icon_cell">
                                        Eze Impress 55" 2x2 Landscape Wall Mounted Digital Display
                                    </div>
                                    <div class="icon_cell">
                                        <i class="pull-right ti ti-angle-right"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class=" font_light grey2" href="">
                                <div class="icon_table">
                                    <div class="icon_cell">
                                        Eze Impress 55" 2x2 Landscape Wall Mounted Digital Display
                                    </div>
                                    <div class="icon_cell">
                                        <i class="pull-right ti ti-angle-right"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class=" font_light grey2" href="">
                                <div class="icon_table">
                                    <div class="icon_cell">
                                        Eze Impress 55" 2x2 Landscape Wall Mounted Digital Display
                                    </div>
                                    <div class="icon_cell">
                                        <i class="pull-right ti ti-angle-right"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class=" font_light grey2" href="">
                                <div class="icon_table">
                                    <div class="icon_cell">
                                        Eze Impress 55" 2x2 Landscape Wall Mounted Digital Display
                                    </div>
                                    <div class="icon_cell">
                                        <i class="pull-right ti ti-angle-right"></i>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>

                </div><!--end of specification cell-->
            </div>
        </div>

    </div>
</div>
