<style>
    .container-fluid {
        padding: 0;
    }
    .static-content {
        margin: 0;
    }
</style>

<div id="product-catalogue" class="dis_table">

    <!--sec-filter-->
    <div class="sec-filter">
        <!--Collapsed Filter-->
        <div id="sec-srch-filter">
            <div class="row_title pad20all">
                <a id="hide">
                    HIDE FILTER
                    <i class="ti ti-filter pull-right"></i>
                </a>
            </div>

            <hr class="border-grey"/>

            <div class="sec-srch-category">
                <div class="row_title padding_10">
                    Category
                </div>
                <div class="srch-flr-items padding_10 btn-group-vertical" data-toggle="buttons">
                    <label class="btn srch-check">
                        <input type="checkbox"/>
                        <i class="ti ti-check"></i>
                        Eze Impress
                    </label>
                    <label class="btn srch-check">
                        <input type="checkbox"/>
                        <i class="ti ti-check"></i>
                        Eze FInd
                    </label>
                    <label class="btn srch-check">
                        <input type="checkbox"/>
                        <i class="ti ti-check"></i>
                        Eze Orda
                    </label>
                    <label class="btn srch-check">
                        <input type="checkbox"/>
                        <i class="ti ti-check"></i>
                        Eze Wi-fi
                    </label>
                    <label class="btn srch-check">
                        <input type="checkbox"/>
                        <i class="ti ti-check"></i>
                        Eze Comms
                    </label>
                </div>
            </div>
            <div class="sec-srch-category">
                <div class="row_title padding_10">
                    Location
                </div>
                <div class="srch-flr-items padding_10 btn-group-vertical" data-toggle="buttons">
                    <label class="btn srch-check">
                        <input type="checkbox"/>
                        <i class="ti ti-check"></i>
                        Indoor
                    </label>
                    <label class="btn srch-check">
                        <input type="checkbox"/>
                        <i class="ti ti-check"></i>
                        Outdoor
                    </label>
                </div>
            </div>
            <hr class="border-grey"/>
            <div class="sec-srch-category">
                <div class="row_title padding_10">
                    Mounting Options
                </div>
                <div class="srch-flr-items padding_10 btn-group-vertical" data-toggle="buttons">
                    <label class="btn srch-check">
                        <input type="checkbox"/>
                        <i class="ti ti-check"></i>
                        Wall
                    </label>
                    <label class="btn srch-check">
                        <input type="checkbox"/>
                        <i class="ti ti-check"></i>
                        Ceiling
                    </label>
                    <label class="btn srch-check">
                        <input type="checkbox"/>
                        <i class="ti ti-check"></i>
                        Floor
                    </label>
                    <label class="btn srch-check">
                        <input type="checkbox"/>
                        <i class="ti ti-check"></i>
                        Desk
                    </label>
                </div>
            </div>
        </div>
        <!--End: Collapsed Filter-->


        <!--Expanded Advance Search Filter-->
        <div id="srch-filter-panel">
            <div class="row_title">
                <ul class="min-filter">

                    <li>
                        <div>
                            <a id="show">
                                <i class="ti ti-filter"></i>
                            </a>
                        </div>

                    </li>
                    <li id="rotate-filter">
                        <div class="rotate">
                            Filters
                        </div>
                    </li>
                </ul>
            </div>


        </div>
        <!--End of Expanded Advance Search Filter-->
    </div>
    <!--End of sec-filter-->


    <!--sec-pc-->
    <div class="sec-pc">
        <!--Wrapper : PC Main Content-->
        <div id="pc-wrap" class="wrapper">
            <div id="sec-pc-category" class="row_title padding_10">
                <div class="btn-group font_14" data-toggle="buttons">
                    <label id="btn-software" class="btn btn-primary-alt btn-pc-radio"
                           ng-class="{active: prodType == 'Solution'}" ng-click="prodType = 'Solution'"
                           ng-init="prodType = 'Solution'">
                        <input type="radio" name="catalogue_selector" id="option1"/> SOLUTION
                    </label>

                    <label id="btn-hardware" class="btn btn-primary-alt btn-pc-radio"
                           ng-click="prodType = 'Hardware'">
                        <input type="radio" name="catalogue_selector" id="option2"/> HARDWARE

                    </label>
                </div>
            </div>

            <div ng-show="prodType == 'Solution'">
                <div class="pc_tabs text14_medium ">
                    <a class="tab_items" ng-class="{active: apply == 'EzeImpress'}"
                       ng-click="solutionTypes('EzeImpress')">Eze
                        Impress</a>
                    <a class="tab_items" ng-class="{active: apply == 'EzeFind'}" ng-click="solutionTypes('EzeFind')">Eze
                        Find</a>
                    <a class="tab_items" ng-class="{active: apply == 'EzeOrda'}" ng-click="solutionTypes('EzeOrda')">Eze
                        Orda</a>
                    <a class="tab_items" ng-class="{active: apply == 'EzeWifi'}" ng-click="solutionTypes('EzeWifi')">Eze
                        Wifi</a>
                    <a class="tab_items" ng-class="{active: apply == 'EzeComms'}" ng-click="solutionTypes('EzeComms')">Eze
                        Comms</a>
                </div>
                <div class="row sec-pc-items">
                    <div ng-show="apply == 'EzeImpress'">
                        <div class="col-lg-3" ng-repeat="item in product">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a ui-sref="productDetailsSolution({selected_id: item.pb_id})" class="img_holder">
                                        <img src="images/img-sample-1.jpg"/>
                                    </a>
                                    <!--Img Preview-->
                                    <div class="item_text">
                                        <a ui-sref="productDetailsSolution({selected_id: item.pb_id})"
                                           class=" blue1 font_bold">
                                            {{item.bundle_name}}
                                        </a>
                                        <!--Title-->
                                        <div class="font_14 grey1 font_light pad20top">
                                            <span data-ng-bind-html="item.bundle_description"></span>
                                        </div>
                                        <div class="font_14 grey2 font_medium pad20top">
                                            For as low as
                                        </div>
                                        <div class="box_price font_24 font_black">
                                            <sup class="">$</sup>{{item.sell_price}}<span class="font_light font_14">/wk</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="apply == 'EzeFind'">
                        <div class="col-lg-3" ng-repeat="item in product">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a ui-sref="productDetailsSolution({selected_id: item.pb_id})" class="img_holder">
                                        <img src="images/img-sample-1.jpg"/>
                                    </a>
                                    <!--Img Preview-->
                                    <div class="item_text">
                                        <a ui-sref="productDetailsSolution({selected_id: item.pb_id})"
                                           class=" blue1 font_bold">
                                            {{item.bundle_name}}
                                        </a>
                                        <!--Title-->
                                        <div class="font_14 grey1 font_light pad20top">
                                            <span data-ng-bind-html="item.bundle_description"></span>
                                        </div>
                                        <div class="font_14 grey2 font_medium pad20top">
                                            For as low as
                                        </div>
                                        <div class="box_price font_24 font_black">
                                            <sup class="">$</sup>{{item.sell_price}}<span class="font_light font_14">/wk</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="apply == 'EzeOrda'">
                        <div class="col-lg-3" ng-repeat="item in product">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a ui-sref="productDetailsSolution({selected_id: item.pb_id})" class="img_holder">
                                        <img src="images/img-sample-1.jpg"/>
                                    </a>
                                    <!--Img Preview-->
                                    <div class="item_text">
                                        <a ui-sref="productDetailsSolution({selected_id: item.pb_id})"
                                           class=" blue1 font_bold">
                                            {{item.bundle_name}}
                                        </a>
                                        <!--Title-->
                                        <div class="font_14 grey1 font_light pad20top">
                                            <span data-ng-bind-html="item.bundle_description"></span>
                                        </div>
                                        <div class="font_14 grey2 font_medium pad20top">
                                            For as low as
                                        </div>
                                        <div class="box_price font_24 font_black">
                                            <sup class="">$</sup>{{item.sell_price}}<span class="font_light font_14">/wk</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="apply == 'EzeWifi'">
                        <div class="col-lg-3" ng-repeat="item in product">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a ui-sref="productDetailsSolution({selected_id: item.pb_id})" class="img_holder">
                                        <img src="images/img-sample-1.jpg"/>
                                    </a>
                                    <!--Img Preview-->
                                    <div class="item_text">
                                        <a ui-sref="productDetailsSolution({selected_id: item.pb_id})"
                                           class=" blue1 font_bold">
                                            {{item.bundle_name}}
                                        </a>
                                        <!--Title-->
                                        <div class="font_14 grey1 font_light pad20top">
                                            <span data-ng-bind-html="item.bundle_description"></span>
                                        </div>
                                        <div class="font_14 grey2 font_medium pad20top">
                                            For as low as
                                        </div>
                                        <div class="box_price font_24 font_black">
                                            <sup class="">$</sup>{{item.sell_price}}<span class="font_light font_14">/wk</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="apply == 'EzeComms'">
                        <div class="col-lg-3" ng-repeat="item in product">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a ui-sref="productDetailsSolution({selected_id: item.pb_id})" class="img_holder">
                                        <img src="images/img-sample-1.jpg"/>
                                    </a>
                                    <!--Img Preview-->
                                    <div class="item_text">
                                        <a ui-sref="productDetailsSolution({selected_id: item.pb_id})"
                                           class=" blue1 font_bold">
                                            {{item.bundle_name}}
                                        </a>
                                        <!--Title-->
                                        <div class="font_14 grey1 font_light pad20top">
                                            <span data-ng-bind-html="item.bundle_description"></span>
                                        </div>
                                        <div class="font_14 grey2 font_medium pad20top">
                                            For as low as
                                        </div>
                                        <div class="box_price font_24 font_black">
                                            <sup class="">$</sup>{{item.sell_price}}<span class="font_light font_14">/wk</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div ng-show="prodType == 'Hardware'">
                <div class="pc_tabs text14_medium ">
                    <a class="tab_items" ng-class="{active: apply == 'Screens'}"
                       ng-click="solutionTypes('Screens')">Screens</a>
                    <a class="tab_items" ng-class="{active: apply == 'MediaPlayer'}"
                       ng-click="solutionTypes('MediaPlayer')">Media Player</a>
                    <a class="tab_items" ng-class="{active: apply == 'MTI'}" ng-click="solutionTypes('MTI')">MTI</a>
                </div>

                <div class="row sec-pc-items">
                    <div>
                        <div class="col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a ui-sref="productDetailsHardware" class="img_holder">
                                        <img src="images/img-sample-1.jpg"/>
                                    </a>
                                    <!--Img Preview-->
                                    <div class="item_text">
                                        <a ui-sref="productDetailsHardware" class=" blue1 font_bold">
                                            Hardware Name
                                        </a>
                                        <!--Title-->
                                        <div class="font_14 grey1 font_light pad20top">
                                            <span data-ng-bind-html="item.bundle_description"></span>
                                        </div>
                                        <div class="font_14 grey2 font_medium pad20top">
                                            For as low as
                                        </div>
                                        <div class="box_price font_24 font_black">
                                            <sup class="">$</sup>{{item.sell_price}}<span class="font_light font_14">/wk</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End of wrapper -->

    </div>
    <!--End: sec-pc-->


</div>


<!-- Hide Show Advance Search Filter Panel-->
<script>
    $("#hide").click(function () {
        $("#sec-srch-filter").hide();
        $("#srch-filter-panel").show();
    });

    $("#srch-filter-panel").click(function () {
        $("#sec-srch-filter").show();
        $("#srch-filter-panel").hide();
    });
</script>
<!-- End Hide Show Advance Search Filter Panel-->



