<div class="row">
    <div id="sec-filter-pc">
        <a href="#slidingDiv" id="filter-show" class="filter-head blue1">
            <span class="ti ti-angle-double-right"></span>
        </a>
        <a href="#" class="filter-head">
            <span class="ti ti-filter "></span>
        </a>
        <a href="#" class="filter-title font_bold">
            FILTERS
        </a>

        <div id="slidingDiv">
            Filter here
        </div>
    </div>


    <div id="pc-wrap" class="wrapper">

        <div id="sec-pc-category" class="row_title padding_10">
            <div class="btn-group font_14" data-toggle="buttons">
                <label id="btn-software" class="btn btn-midnightblue-alt btn-pc-radio">
                    <input type="radio" name="catalogue_selector" id="option1"/>
                    SOFTWARE
                </label>
                <label id="btn-hardware" class="btn btn-midnightblue-alt btn-pc-radio">
                    <input type="radio" name="catalogue_selector" id="option2"/>
                    HARDWARE
                </label>
            </div>
        </div><!--select category-->

        <div>
            <div class="pc_tabs text14_medium ">
                <a href="#" class="tab_items active">Eze Impress</a><a href="#" class="tab_items">Eze Find</a><a
                    href="#" class="tab_items">Eze Orda</a><a href="#" class="tab_items">Eze Wi-fi</a><a href="#"
                                                                                                         class="tab_items">Eze
                Comms</a>
            </div>
        </div>

        <div class="row sec-pc-items">

            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="#" class="img_holder">
                            <img src="../assets/img/img-sample-1.jpg"/>
                        </a><!--Img Preview-->
                        <div class="item_text">
                            <a href="#" class=" blue1 font_bold">
                                Eze Impress 55" Wall Mounted Digital Display DB55E with Essential Media Player
                            </a><!--Title-->
                            <div class="font_14 grey1 font_light pad20top">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div>
                            <div class="font_14 grey2 font_medium pad20top">
                                For as low as
                            </div>
                            <div class="box_price font_24 font_black">
                                <sup class="">$</sup>55<span class="font_light">/wk</span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="#" class="img_holder">
                            <img src="../assets/img/img-sample-1.jpg"/>
                        </a><!--Img Preview-->
                        <div class="item_text">
                            <a href="#" class=" blue1 font_bold">
                                Eze Impress 55" Wall Mounted Digital Display DB55E with Essential Media Player
                            </a><!--Title-->
                            <div class="font_14 grey1 font_light pad20top">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div>
                            <div class="font_14 grey2 font_medium pad20top">
                                For as low as
                            </div>
                            <div class="box_price font_24 font_black">
                                <sup class="">$</sup>55<span class="font_light">/wk</span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>

    <script type="text/javascript">//Show Advance Filter//
    $(document).ready(function () {

        $('.show_hide').showHide({
            speed: 200,
            changeText: 1,
            showText: 'Advance Filter <img src="../_assets/icons/arrows__down.png" style="max-height: 10px;"/>',
            hideText: 'Hide Filter <img src="../_assets/icons/arrows__up.png" style="max-height: 10px;"/>'
        });
    });
    </script>
