<div class="row">
    <div id="hd-wrap" class=" wrapper">

        <div class="row_title">
            product details
        </div>
        <div id="sec-hd-preview">
            <div class="row">
                <div class="col-lg-6">
                    <div class="carousel_container">
                        s
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="font_24 blue1 font_bold">
                        NEC 55" LED-Backlit Ultra-Narrow Professional-Grade
                    </div>
                    <div class="font_light grey1">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged.
                    </div>

                    <div class="sec-option-set pad20top">
                        <div class="font_bold grey3">PRICE</div>
                        <div class="font_24 font_bold">
                            <a class=" box_price">
                                <sup>$</sup>500
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="sec-hd-specs">
            <div class="dis_table">
                <div class="dis_cell">
                    <div class="head_specs">

                    </div>
                    <div class=""
                </div>
            </div>
        </div>

    </div>
</div>
