<div class="row">
    <div id="pd-sol-wrap" class="wrapper">
        <div class="row_title">
            <a ui-sref="productCatalogue" class=" btn btn-tessa-back ">
                <i class="ti ti-angle-left"> </i>
            </a>
        </div>
        <div class="parent-sd">
            <div class="sec-sd-psd">
                <div class="row_title">
                    Packaged solutions details
                </div>
                <!-- Main Article -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="img_holder">
                            <img src="{{img.image_path}}" class="bg-image" ng-repeat="img in details.product_images | limitTo:1"/>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class=" font_24 font_bold blue1">
                            {{details.bundle_name}}
                        </div>
                        <div class="font_light grey2 pad20top line-24">
                            <span data-ng-bind-html="details.bundle_description"></span>
                        </div>
                        <div class="divider"></div>
                    
                        <div class="row_title">
                            Payment Term
                        </div>

                        <div class="sec-option-set pad20top">
                            <div class="font_regular grey2">Capex/Opex</div>
                            <div class="font_24 font_bold">
                                <a class="font_light box_price">
                                    <sup>$</sup>{{hwPrice + dPrice + swPrice | number:2}}<span class=" font_14"> upfront</span>
                                </a>
                                <a class=" font_light box_price ">
                                    <sup>$</sup>{{spPrice | number: 2}}<span class=" font_14"> /mth</span>
                                </a>
                            </div>
                        </div>
                        <div class="sec-option-set pad20top">
                            <div class="font_regular grey2">Opex</div>
                            <div class="font_24 font_light font_bold">
                                <a class=" box_price">
                                    <sup>$</sup>0<span class=" font_14"> upfront</span>
                                </a>
                                <a class="font_light box_price">
                                    <sup>$</sup>{{(((hwPrice + dPrice + swPrice)*36)/1000) | number:2}}<span class=" font_14"> /mth</span>
                                </a>
                            </div>
                        </div>

                        <div class="grey2 font_light ">
                            or
                        </div>

                        <div class="sec-option-set ">
                            <div class="font_light font_24 font_bold">
                                <a class=" box_price">
                                    <sup>$</sup>0<span class=" font_14"> upfront</span>
                                </a>
                                <a class="font_light box_price">
                                    <sup>$</sup>{{(((((hwPrice + dPrice + swPrice)*36)/1000))*12) / 52 | number:2}}<span class=" font_14"> /wk</span>
                                </a>
                            </div>
                        </div>
                        <div class="pad20top grey2 font_medium font_12">
                            Based on a 3-year contract payment term
                        </div>
                    </div>
                </div>
                <!-- End of: Main Article -->

                <div class="row_title pad20top">
                    inclusions
                </div>

                <!--Inclusions-->
                <div class=" dis_table sec-sd-inclusions ">
                    <div class="dis_cell">
                        <div class="inc_head">
                            <div class="img_holder">
                                <img src="../images/icons/software.png" class="dtIcons"/>
                            </div>
                            <div class="font_14 font_bold grey2">
                                SOFTWARE
                            </div>
                        </div>

                        <div class="inc_body" ng-repeat="softwares in software">
                            <div class="inc_title font_bold grey2">
                                {{softwares.category_label}}
                            </div>
                            <a href="" class="inc_text font_light grey2">
                                {{softwares.item_name}}
                            </a>
                        </div>
                    </div>
                    <div class="dis_cell">
                        <div class="inc_head">
                            <div class="img_holder">
                                <img src="../images/icons/hardware.png" class="dtIcons"/>
                            </div>
                            <div class="font_14 font_bold grey2">
                                HARDWARE
                            </div>
                        </div>
                        <div class="inc_body" ng-repeat="categ in hardware">
                            <div class="inc_title font_bold grey2">
                                {{categ.category_label}}
                            </div>

                            <a href="" class="inc_text font_light grey2">
                                {{categ.item_name}}
                            </a>

                        </div>
                    </div>
                    <div class="dis_cell">
                        <div class="inc_head">
                            <div class="img_holder">
                                <img src="../images/icons/deployment.png" class="dtIcons"/>
                            </div>
                            <div class="font_14 font_bold grey2">
                                DEPLOYMENT
                            </div>
                        </div>
                        <div class="inc_body" ng-repeat="deploy in deployment">
                            <a href="" class="inc_text font_light grey2">
                                {{deploy.item_name}}
                            </a>
                        </div>
                    </div>
                    <div class="dis_cell">
                        <div class="inc_head">
                            <div class="img_holder">
                                <img src="../images/icons/support.png" class="dtIcons"/>
                            </div>
                            <div class="font_14 font_bold grey2">
                                SUPPORT
                            </div>
                        </div>
                        <div class="inc_body" ng-repeat="supp in support">
                            <a href="" class="inc_text font_light grey2">
                                {{supp.item_name}}
                            </a>
                        </div>
                    </div>
                </div>
                <!--End: Inclusions-->

            </div>
        </div>
    </div>
</div>


<!--Modal-->


<!--End of Modal-->
