<div class="row">
    <div id="pc-wrap" class="wrapper">

        <div class="pc_tabs text14_medium ">
            <a href="#" class="tab_items active">Solutions(3)</a><a href="#" class="tab_items">Enhance(4)</a><a href="#"
                                                                                                                class="tab_items">Hardware(3)</a>
        </div>


        <div class="row sec-pc-items">
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="#" class="img_holder">
                            <img src="images/img-sample-1.jpg"/>
                        </a>
                        <div class="item_text">
                            <a href="#" class=" grey2 font_bold">
                                Eze Impress 55" Wall Mounted Digital Display DB55E with Essential Media Player
                            </a><!--Title-->
                            <div class="grey3 font_bold font_12">
                                Eze Impress
                            </div>
                            <div class="pad20top font_regular grey1">
                                For as low as
                            </div>
                            <div class="dis_table">
                                <div class="dis_cell font_24 font_black"> $55 <sup class="font_light font_14">per
                                    day</sup>
                                </div>
                                <div class="dis_cell">
                                    <a class="box_details pull-right font_medium">
                                        View Details
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="#" class="img_holder">
                            <img src="images/img-sample-1.jpg"/>
                        </a>
                        <div class="item_text">
                            <a href="#" class=" grey2 font_bold">
                                Eze Impress 55" Wall Mounted Digital Display DB55E with Essential Media Player
                            </a><!--Title-->
                            <div class="grey3 font_bold font_12">
                                Eze Impress
                            </div>
                            <div class="pad20top font_regular grey1">
                                For as low as
                            </div>
                            <div class="dis_table">
                                <div class="dis_cell font_24 font_black"> $55 <sup class="font_light font_14">per
                                    day</sup>
                                </div>
                                <div class="dis_cell">
                                    <a class="box_details pull-right font_medium">
                                        View Details
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="#" class="img_holder">
                            <img src="images/img-sample-1.jpg"/>
                        </a>
                        <div class="item_text">
                            <a href="#" class=" grey2 font_bold">
                                Eze Impress 55" Wall Mounted Digital Display DB55E with Essential Media Player
                            </a><!--Title-->
                            <div class="grey3 font_bold font_12">
                                Eze Impress
                            </div>
                            <div class="pad20top font_regular grey1">
                                For as low as
                            </div>
                            <div class="dis_table">
                                <div class="dis_cell font_24 font_black"> $55 <sup class="font_light font_14">per
                                    day</sup>
                                </div>
                                <div class="dis_cell">
                                    <a class="box_details pull-right font_medium">
                                        View Details
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="#" class="img_holder">
                            <img src="images/img-sample-1.jpg"/>
                        </a>
                        <div class="item_text">
                            <a href="#" class=" grey2 font_bold">
                                Eze Impress 55" Wall Mounted Digital Display DB55E with Essential Media Player
                            </a><!--Title-->
                            <div class="grey3 font_bold font_12">
                                Eze Impress
                            </div>
                            <div class="pad20top font_regular grey1">
                                For as low as
                            </div>
                            <div class="dis_table">
                                <div class="dis_cell font_24 font_black"> $55 <sup class="font_light font_14">per
                                    day</sup>
                                </div>
                                <div class="dis_cell">
                                    <a class="box_details pull-right font_medium">
                                        View Details
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="#" class="img_holder">
                            <img src="images/img-sample-1.jpg"/>
                        </a>
                        <div class="item_text">
                            <a href="#" class=" grey2 font_bold">
                                Eze Impress 55" Wall Mounted Digital Display DB55E with Essential Media Player
                            </a><!--Title-->
                            <div class="grey3 font_bold font_12">
                                Eze Impress
                            </div>
                            <div class="pad20top font_regular grey1">
                                For as low as
                            </div>
                            <div class="dis_table">
                                <div class="dis_cell font_24 font_black"> $55 <sup class="font_light font_14">per
                                    day</sup>
                                </div>
                                <div class="dis_cell">
                                    <a class="box_details pull-right font_medium">
                                        View Details
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>