<div class="row">
    <div  class="wrapper">
        <div class="row_title sec-search-filter">

            <ul class="filter_options">
                <li>
                    <div class="font_14 font_bold grey2">
                        FILTER

                    </div>
                </li>
                <li>
                    <div class="btn-group">
                        <button type="button" class=" font_light btn btn-default-alt dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Choose Eze Suite Family
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu font_14 grey2 filter_items" role="menu">

                            <li><div class="dis_cell cell_1"><a class="font_14 font_bold grey3">Clear Filters</a> </div></li>
                            <li><div class="dis_cell cell_1">Any</div> <div class="dis_cell cell_2"><input type="checkbox"/> </div> </li>
                            <li><div class="dis_cell cell_1">Eze Impress</div> <div class="dis_cell cell_2"><input type="checkbox"/> </div> </li>
                            <li><div class="dis_cell cell_1">Eze Find</div> <div class="dis_cell cell_2"><input type="checkbox"/> </div> </li>
                            <li><div class="dis_cell cell_1">Eze Wi-fi</div> <div class="dis_cell cell_2"><input type="checkbox"/> </div> </li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="font_light btn btn-default-alt dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Solution
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu font_14 grey2 filter_items" role="menu">
                            <li><div class="dis_cell cell_1"><a class="font_14 font_bold grey3">Clear Filters</a> </div></li>
                            <li><div class="dis_cell cell_1">Any</div> <div class="dis_cell cell_2"><input type="checkbox"/> </div> </li>
                            <li><div class="dis_cell cell_1">Eze Impress</div> <div class="dis_cell cell_2"><input type="checkbox"/> </div> </li>
                            <li><div class="dis_cell cell_1">Eze Find</div> <div class="dis_cell cell_2"><input type="checkbox"/> </div> </li>
                            <li><div class="dis_cell cell_1">Eze Wi-fi</div> <div class="dis_cell cell_2"><input type="checkbox"/> </div> </li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="font_light btn btn-default-alt dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Location
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu font_14 grey2 filter_items" role="menu">
                            <li><div class="dis_cell cell_1"><a class="font_14 font_bold grey3">Clear Filters</a> </div></li>
                            <li><div class="dis_cell cell_1">Any</div> <div class="dis_cell cell_2"><input type="checkbox"/> </div> </li>
                            <li><div class="dis_cell cell_1">Eze Impress</div> <div class="dis_cell cell_2"><input type="checkbox"/> </div> </li>
                            <li><div class="dis_cell cell_1">Eze Find</div> <div class="dis_cell cell_2"><input type="checkbox"/> </div> </li>
                            <li><div class="dis_cell cell_1">Eze Wi-fi</div> <div class="dis_cell cell_2"><input type="checkbox"/> </div> </li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="font_light btn btn-default-alt dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Configuration
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu font_14 grey2 filter_items" role="menu">
                            <li><div class="dis_cell cell_1"><a class="font_14 font_bold grey3">Clear Filters</a> </div></li>
                            <li><div class="dis_cell cell_1">Any</div> <div class="dis_cell cell_2"><input type="checkbox"/> </div> </li>
                            <li><div class="dis_cell cell_1">Eze Impress</div> <div class="dis_cell cell_2"><input type="checkbox"/> </div> </li>
                            <li><div class="dis_cell cell_1">Eze Find</div> <div class="dis_cell cell_2"><input type="checkbox"/> </div> </li>
                            <li><div class="dis_cell cell_1">Eze Wi-fi</div> <div class="dis_cell cell_2"><input type="checkbox"/> </div> </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="btn btn-primary">Submit</a>
                </li>
            </ul>
        </div>

        <div class="pc_tabs text14_medium ">
            <a href="#" class="tab_items active">Solutions(3)</a><a href="#" class="tab_items">Enhance(4)</a><a href="#" class="tab_items">Hardware(3)</a>
        </div>

        <div class="row sec-pc-items">
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="#" class="img_holder">
                            <img src="images/img-sample-1.jpg"/>
                        </a>
                        <div class="item_text">
                            <a href="#" class=" grey2 font_bold">
                                Eze Impress 55" Wall Mounted Digital Display DB55E with Essential Media Player
                            </a><!--Title-->
                            <div class="grey3 font_bold font_12">
                                Eze Impress
                            </div>
                            <div class="pad20top font_regular grey1">
                                For as low as
                            </div>
                            <div class="dis_table">
                                <div class="dis_cell font_24 font_black"> $55 <sup class="font_light font_14">per
                                    day</sup>
                                </div>
                                <div class="dis_cell">
                                    <a class="box_details pull-right font_medium">
                                        View Details
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="#" class="img_holder">
                            <img src="images/img-sample-1.jpg"/>
                        </a>
                        <div class="item_text">
                            <a href="#" class=" grey2 font_bold">
                                Eze Impress 55" Wall Mounted Digital Display DB55E with Essential Media Player
                            </a><!--Title-->
                            <div class="grey3 font_bold font_12">
                                Eze Impress
                            </div>
                            <div class="pad20top font_regular grey1">
                                For as low as
                            </div>
                            <div class="dis_table">
                                <div class="dis_cell font_24 font_black"> $55 <sup class="font_light font_14">per
                                    day</sup>
                                </div>
                                <div class="dis_cell">
                                    <a class="box_details pull-right font_medium">
                                        View Details
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="#" class="img_holder">
                            <img src="images/img-sample-1.jpg"/>
                        </a>
                        <div class="item_text">
                            <a href="#" class=" grey2 font_bold">
                                Eze Impress 55" Wall Mounted Digital Display DB55E with Essential Media Player
                            </a><!--Title-->
                            <div class="grey3 font_bold font_12">
                                Eze Impress
                            </div>
                            <div class="pad20top font_regular grey1">
                                For as low as
                            </div>
                            <div class="dis_table">
                                <div class="dis_cell font_24 font_black"> $55 <sup class="font_light font_14">per
                                    day</sup>
                                </div>
                                <div class="dis_cell">
                                    <a class="box_details pull-right font_medium">
                                        View Details
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="#" class="img_holder">
                            <img src="images/img-sample-1.jpg"/>
                        </a>
                        <div class="item_text">
                            <a href="#" class=" grey2 font_bold">
                                Eze Impress 55" Wall Mounted Digital Display DB55E with Essential Media Player
                            </a><!--Title-->
                            <div class="grey3 font_bold font_12">
                                Eze Impress
                            </div>
                            <div class="pad20top font_regular grey1">
                                For as low as
                            </div>
                            <div class="dis_table">
                                <div class="dis_cell font_24 font_black"> $55 <sup class="font_light font_14">per
                                    day</sup>
                                </div>
                                <div class="dis_cell">
                                    <a class="box_details pull-right font_medium">
                                        View Details
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="#" class="img_holder">
                            <img src="images/img-sample-1.jpg"/>
                        </a>
                        <div class="item_text">
                            <a href="#" class=" grey2 font_bold">
                                Eze Impress 55" Wall Mounted Digital Display DB55E with Essential Media Player
                            </a><!--Title-->
                            <div class="grey3 font_bold font_12">
                                Eze Impress
                            </div>
                            <div class="pad20top font_regular grey1">
                                For as low as
                            </div>
                            <div class="dis_table">
                                <div class="dis_cell font_24 font_black"> $55 <sup class="font_light font_14">per
                                    day</sup>
                                </div>
                                <div class="dis_cell">
                                    <a class="box_details pull-right font_medium">
                                        View Details
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>